<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
	<variable name="LogFolder" value="${basedir}\.Logs" />
	<variable name="TraceLayout" value="${longdate}|${processid}|${uppercase:${level}}|${logger}|${callsite}|${message}" />
	<variable name="ErrorLayout" value="${longdate}|${processid}|${uppercase:${level}}|${logger}|${callsite}|${message}${newline}${exception}" />
	<targets async="true">
		<target name="Console" xsi:type="Console" layout="${time} ${message}" />
		<target xsi:type="File" name="Trace" fileName="${LogFolder}\Trace_${date:format=yyyyMMdd}.log" maxArchiveFiles="512" archiveAboveSize="10485760" Encoding="utf-8" layout="${TraceLayout}" />
		<target xsi:type="File" name="Warn"  fileName="${LogFolder}\Warn_${date:format=yyyyMMdd}.log"  maxArchiveFiles="512" archiveAboveSize="10485760" Encoding="utf-8" layout="${TraceLayout}" />
		<target xsi:type="File" name="Error" fileName="${LogFolder}\Error_${date:format=yyyyMMdd}.log" maxArchiveFiles="512" archiveAboveSize="10485760" Encoding="utf-8" layout="${ErrorLayout}" />
		<target xsi:type="File" name="Info"  fileName="${LogFolder}\Info_${date:format=yyyyMMdd}.log"  maxArchiveFiles="512" archiveAboveSize="10485760" Encoding="utf-8" layout="${TraceLayout}" />
		<target xsi:type="File" name="Debug" fileName="${LogFolder}\Debug_${date:format=yyyyMMdd}.log" maxArchiveFiles="100" archiveAboveSize="10485760" Encoding="utf-8" layout="${TraceLayout}" />
		<target xsi:type="Null" name="blackhole" />
	</targets>
	<rules>
		<logger name="*" level="Trace" writeTo="Trace" />
		<logger name="*" level="Info"  writeTo="Info" />
		<logger name="*" level="Debug" writeTo="Debug" />
		<logger name="*" level="Warn"  writeTo="Warn" />
		<logger name="*" level="Error" writeTo="Error" />
	</rules>
</nlog>